/* Variables */
$transparent-light-blue: #84828f80;
$light-blue: #84828f;
$dark-blue: #2d3f5e;
$darker-blue: #091f43;

$custom-red: red;
$custom-green: green;

$screen-height-size: calc(100vh - 75px);
